.titulo {
    background-color: #1fa1ab;
    padding: 10px;
    display: flex;
    align-items: center;
}

.titulo img {
    height: 30px;
    margin-right: 10px;
}

.titulo h5 {
    color: black;
    margin: 0;
}